* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgb(18, 20, 10);
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

/* Some example variable use in the declarations. */

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);

}
nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;/% shorthand for white %/
}


h1 {
    color: gold;
    text-align: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    padding: 10px;
}

main img {
    /*you most likely will have other declarations here*/
    float: right;
    max-width: 100%;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    max-width: 300px;
    width: 20rem;
    margin: 1em auto;
    padding: 1em;
    background-color: burlywood;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid {
    display: grind;
    align-items: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    max-width: 100%;
    height: auto;
}

header,footer {
    max-width: 840px;
    margin: 0 auto ;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}