nav {
    background-color: darkblue;
    padding: 10px;
    max-width: 1200px; 
    margin: 0 auto; 
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: gold;
    text-align: center;
}

main {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 10px;
}

main img {
    max-width: 100%; 
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    max-width: 800px; 
    margin: 0 auto;
}

aside {
    max-width: 300px; 
    width: 20em;
    margin: 1em auto; 
    padding: 1em;
    background-color: burlywood;
}

aside img {
    max-width: 100%; 
    height: auto;
}

footer {
    max-width: 1200px; 
    margin: 1em auto 0;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}
